xcuserdata/
*.xccheckout
*.xcscmblueprint

DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.xcodeproj/

.swiftpm/
.build/
Package.pins

timeline.xctimeline
playground.xcworkspace

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/build

build/
.bundle/

*.DS_Store